body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color: #F5F7FB;
}


.sidenav {
    background: rgb(9, 80, 220);
    background: -moz-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0950dc", endColorstr="#096ed2", GradientType=1);
}
.col-sm-2.sidenav.hidden-xs.text-center{
    height: 100vh !important;
}

@media (min-width:1400px) {
    .sidenav {
        height: 100%;
    }
}

.navbar-header {
    background: rgb(9, 80, 220);
    background: -moz-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0950dc", endColorstr="#096ed2", GradientType=1);
}

ul.nav.navbar-nav {
    background: rgb(9, 80, 220);
    background: -moz-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0950dc", endColorstr="#096ed2", GradientType=1);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    background: rgb(9, 80, 220);
    background: -moz-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    background: linear-gradient(90deg, rgba(9, 80, 220, 1) 0%, rgba(9, 88, 210, 1) 50%, rgba(9, 110, 210, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0950dc", endColorstr="#096ed2", GradientType=1);
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #337ab7
}

.navbar-inverse .navbar-nav>li>a {
    color: #f5f7fb;
}

p.lead.mb-4.fs-4 {
    color: #f5f7fb;
}

.topnav {
    margin-bottom: 24px;
}

.sidebar-header {
    background: transparent;
    color: #ced4da;
    font-size: 1.25rem;
    padding: 1.5rem 1.5rem .375rem;
}

.time-cell {
    border: 1px solid #ddd;
    height: 60px !important;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.event {
    position: absolute;
    left: 0;
    right: 0;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar-table th,
.calendar-table td {
    vertical-align: top;
}

.badge {
    --bs-badge-padding-x: .77em;
    --bs-badge-padding-y: .4235em;
    --bs-badge-font-size: .8667em;
    --bs-badge-font-weight: 500;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: .25rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
}

.bg-label-success {
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}

.bg-label-danger {
    background-color: #f9e7e7 !important;
    color: #ff3e1d !important;
}

.list-group-itemcustom {
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;

}


.roundbg {
    background-color: #0C9AB9;
    color: whitesmoke;
}

.rounded-pill {
    border-radius: 50rem !important;
}


.lh-1 {
    line-height: 1 !important;
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
}

.p-4 {
    padding: 1.2rem !important;
}

.d-inline-block {
    display: inline-block !important;
}

.sidenav ul.nav.nav-pills.nav-stacked li {
    text-align: center;
}

.sidenav ul.nav.nav-pills.nav-stacked li.sidebar-header {
    text-align: left;
}


a {
    color: #f5f7fb;
}

.linkhref {
    color: #0950dc !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.blacka {
    color: #242424 !important;
}

.shadow {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, .05);
    ;
}

span.sidebar-badge.badge {
    background-color: #DC3545 !important;
}

i.bi.bi-exclamation-circle {
    color: whitesmoke !important;
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
    margin-bottom: 24px;
    border-radius: 5px;
    color: #242424;
    padding: 10px;
}

.footer {
    color: whitesmoke;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.tree {
    padding-left: 20px;
}

.tree ul {
    padding-left: 20px;
}

.tree li {
    list-style-type: none;
}

.tree .fas {
    margin-right: 5px;
}

.form-control:disabled {
    background-color: var(--bs-secondary-bg);
    opacity: 1
}

.btn-secondary {
    background-color: #5C636A;
    color: whitesmoke;
}

.btn-secondary:hover {
    color: white
}

#video-container {
    width: 200px;
    height: 100%;
}

#video.scanned {
    filter: sepia(100%);
}

#checkmark,
#error {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

#checkmark {
    color: green;
}

#error {
    color: red;
}