:root{
    --main-color: #E30713;
    --secondary-color: #333333;
    --active-color: rgb(231, 86, 86);
}

body{
    background-color: var(--secondary-color);
    color: whitesmoke;
}

nav.navbar,.nav-link{
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-imageback {
    background-image: url(../img/brand/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}

.footer{
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}
i:hover,i:active{
    color: rgba(255, 255, 255, 0.75);
}

.active{
    color: var(--active-color) !important;
    font-weight: bold;
}

.text-first{
    color: var(--main-color) !important;
}

.nav-link:hover{
    color: white;
}

#contact{
    background-color: var(--main-color) !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='whitesmoke' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#bussinessnameh2{
    color: whitesmoke !important;
}

.svg,.bi{
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
}

.status-bar {
    position: fixed;
    right: -300px;
    top: 90px;
    width: 250px;
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.5s ease-in-out;
    z-index: 1000;
}

.status-bar.visible {
    right: 20px;
}

.status-bar h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.status-bar p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
