#login{
    background-color: #252525;
}

svg{
    background-color: #252525;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.card{
    margin-top: 50vh;
}

body{
    background-color: whitesmoke;
}

img{
    max-height: 150px;
}
